.ex {
	.btn {
		padding: 0.5rem 1rem;
		color: rgba(var(--baseColor-code), 1);
		text-align: center;
		background-color: rgba(var(--bgColor-code), 1);
		font-weight: 500;
		text-transform: uppercase;
		letter-spacing: 1px;
		border: 1px solid rgba(var(--baseColor-code), 1);
		border-radius: 6px;
		overflow: hidden;

		&:hover {
			background-color: rgba(var(--baseColor-code), 1) !important;
			border: 1px solid rgba(var(--bgColor-code), 1);
			color: rgba(var(--bgColor-code), 1);
		}
		&.on {
			background-color: rgba(var(--baseColor-code), 1) !important;
			border: 1px solid rgba(var(--bgColor-code), 1);
			color: rgba(var(--bgColor-code), 1);
		}
	}

	.btn-area {
		background-color: rgba(var(--bgColor-code), 1) !important;
		border: 1px solid rgba(var(--baseColor-code), 1);
		z-index: 1;

		.btn-inner {
			.btn-active {
				color: rgba(var(--baseColor-code), 1) !important;
			}
		}
	}

	.on {
		background-color: rgba(var(--baseColor-code), 1) !important;
		border: 1px solid rgba(var(--bgColor-code), 1);

		.btn-inner {
			.btn-active {
				color: rgba(var(--bgColor-code), 1) !important;
			}
		}
	}
}

div.hover {
	width: 100px;
	height: 100px;
	background-color: aliceblue;
	text-align: center;
	line-height: 100px;
	transition-property: width, height;
	transition-duration: 1s, 1s;
}

.grow {
	width: 200px;
	height: 120px;
}
