// 전역 스타일

/*
width, height
margin, padding
display
float
position, top, left, right, bottom
background, border
font, color, letter-spacing, white-space
text-align, vertical-align, text-decoration, text-indent
overflow
z-index
나머지 속성들
*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: none;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	line-height: inherit;
	margin: 0;
	padding: 0;
	border: 0;
	font-family: var(--baseFont);
	vertical-align: baseline;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

ul,
ol,
li {
	list-style: none;
}
th,
td {
	padding: 0;
}
select,
input,
textarea,
button {
	margin: 0;
	padding: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	outline: none;
	border: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: inherit;
	vertical-align: middle;
}
input,
button {
	background: transparent;
	-webkit-border-radius: 0;
	-webkit-appearance: none;
}
input[type='button'],
button,
select {
	cursor: pointer;
}
select {
	-o-appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
}
select::-ms-expand {
	display: none;
}
textarea {
	padding: 0;
	background: transparent;
	border: 0;
	overflow-y: scroll;
	resize: none;
}
a {
	outline: 0;
	font-family: inherit;
	font-weight: inherit;
	text-decoration: none;
	color: inherit;
	line-height: inherit;
}

html {
	font-size: 15px;
	height: 100%;
	overflow-y: auto;

	body {
		// &::-webkit-scrollbar {
		// 	width: 4px;
		// 	background-color: transparent;
		// 	transition: background-color 1s;
		// }

		// &::-webkit-scrollbar-thumb {
		// 	border-radius: 4px;
		// 	background-color: var(--pointColor);
		// }

		#root {
			height: 100%;

			.wrap > * {
				font-weight: 400;
				letter-spacing: 0.025em;
			}

			.wrap {
				width: 100%;
				height: 100%;
				padding: 1rem;
				position: relative;
				background-color: var(--bgColor);
				font-family: var(--baseFont);
				font-size: var(--baseSize);
				color: var(--baseColor);
				transition: color 1s, background-color 1s;

				.wrapper {
					padding-left: 3rem;
					padding-right: 3rem;
					border: 1px solid var(--baseColor);

					.line-holizontal {
						width: 100%;
						height: 1px;
						perspective-origin: 50%;
						transform-origin: 50%;
						background-color: rgba(var(--baseColor-code), 1);
						border-top-width: 0;
					}
					.line-vertical {
						width: 1px;
						height: 100%;
						perspective-origin: 50%;
						transform-origin: 50%;
						background-color: rgba(var(--baseColor-code), 1);
					}
					.wide-layout {
						margin: 0 auto;
					}
					.content-layout {
						height: 100%;
						margin: 0 auto;

						.content-padding {
							padding-top: 4rem;
							padding-bottom: 4rem;
						}
					}
				}
			}

			// svg filter 추가
			.dark {
				.icon {
					img {
						filter: invert(100%);
					}
				}
			}
		}
	}
}
