.Visual {
	width: 100%;
	min-height: calc(100vh - 90px);
	position: relative;

	.visualBox {
		padding-top: 4rem;
		padding-bottom: 3rem;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: flex-start;
		transition: 0.3s;

		.txt-area {
			width: 60%;
			margin-bottom: 5rem;

			h2 {
				margin-bottom: 1rem;
				font-size: 1rem;
				font-weight: 500;
				opacity: 0.9;
				letter-spacing: -0.01em;
				text-transform: uppercase;
			}

			h3 {
				margin-bottom: 5rem;
				line-height: 1;
				font-weight: 400;
				font-family: var(--pointFont);
				font-size: 8rem;
				word-wrap: break-word;
			}

			p {
				line-height: 1.5;
				font-size: 1.75rem;
				font-weight: 400;
			}
		}

		.video-area {
			width: 100%;
			height: auto;
			position: relative;
			padding-bottom: 56.26%;
			margin-bottom: 3rem;
			border-radius: 1rem;
			overflow: hidden;
			cursor: pointer;

			video {
				width: 100%;
				height: 100%;
				margin: auto;
				position: absolute;
				top: -100%;
				bottom: -100%;
				left: -100%;
				right: -100%;
				object-fit: cover;
				transform: scale3d(1.81, 1.815, 1);

				// width: 100%;
				// height: 100%;
				// object-fit: cover;
				// z-index: -100;
				// background-position: 50%;
				// background-size: cover;
				// margin: auto;
				// position: absolute;
				// top: -100%;
				// bottom: -100%;
				// left: -100%;
				// right: -100%;
			}
		}

		.img-area {
			width: 100%;
			border-radius: 1rem;
			overflow: hidden;
			position: relative;
			transform: translate(0);

			img {
				height: 100%;
				object-fit: cover;
				transform: translate3d(0, -2.57278%, 0) scale3d(1.1, 1.1, 1) rotateX(0deg) rotateY(0deg) rotate(0deg) skew(0deg, 0deg);
				transform-style: preserve-3d;
				width: 100%;
				will-change: transform;
			}
		}
	}

	.videoBox {
		width: 100%;
		margin-top: 5rem;
		margin-bottom: 2rem;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		article {
			width: calc(50% - 1rem);
			margin-bottom: 3rem;

			.pic {
				width: 100%;
				height: auto;
				position: relative;
				padding-bottom: 56.26%;
				border-radius: 1rem;
				overflow: hidden;

				a {
					img {
						width: 100%;
						height: 100%;
						position: absolute;
						top: 0;
						left: 0;
						object-fit: cover;
						transform: scale3d(1.01, 1.015, 1);
					}
				}
			}
		}
	}
}

//tablet
.tablet,
.mobile,
.limit {
	.Visual {
		.visualBox {
			padding-top: 3rem;
			padding-bottom: 3rem;

			.txt-area {
				width: 80%;
				margin-bottom: 3rem;

				h2 {
					font-size: 0.9rem;
				}

				h3 {
					margin-bottom: 3rem;
					font-size: 6rem;
				}

				p {
					font-size: 1.5rem;
				}
			}
		}

		.videoBox {
			margin-top: 3rem;
			margin-bottom: 1rem;
		}
	}
}

//mobile
.mobile,
.limit {
	.Visual {
		.visualBox {
			padding-bottom: 2rem;
			padding-top: 2rem;

			.txt-area {
				width: 100%;
				margin-bottom: 1.5rem;

				h2 {
					font-size: 0.9rem;
				}

				h3 {
					margin-bottom: 1.5rem;
					font-size: 4.5rem;
				}

				p {
					font-size: 1.2rem;
				}
			}
		}

		.videoBox {
			article {
				margin-bottom: 2rem;
			}
		}
	}
}

//limit
.limit {
	.Visual {
		.visualBox {
			padding-bottom: 2rem;
			padding-top: 2rem;

			.txt-area {
				h2 {
					font-size: 0.9rem;
				}

				h3 {
					font-size: 3.5rem;
				}
			}
		}
		.videoBox {
			article {
				width: 100%;
				margin-bottom: 2rem;
			}
		}
	}
}
