.Gallery {
	--gap: 20px;
	--num: 3;

	.visualBox {
		margin-bottom: 5rem;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: flex-start;

		.txt-area {
			width: 60%;

			h3 {
				font-size: 8rem;
				font-weight: 400;
				font-family: var(--pointFont);
				margin-bottom: 1rem;
				text-transform: uppercase;
			}
			p {
				line-height: 1.5;
				font-size: 1.75rem;
				font-weight: 400;
			}
		}

		.con-area {
			width: 35%;
			padding-left: 80px;
			position: relative;

			.line-vertical {
				position: absolute;
				top: 0;
				left: 0;
			}
			.info {
				ul {
					li {
						margin-bottom: 2rem;
						letter-spacing: 1px;
						text-transform: uppercase;
						font-family: Roboto Mono, sans-serif;
						font-size: 15px;
						font-weight: 400;
						dl {
							dt {
								color: rgba(var(--baseColor-code), 0.4);
							}
							dd {
								a {
									border-bottom: 1px solid rgba(var(--baseColor-code), 0.3);
									&:hover {
										border-bottom: 1px solid rgba(var(--baseColor-code), 0.8);
									}
								}
							}
						}
					}
				}
			}
		}
	}

	.galleryBox {
		padding: 5rem 0 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: flex-start;

		.txt-area {
			width: 27%;
			position: sticky;
			top: 3rem;

			h4 {
				margin-top: 1rem;
				margin-bottom: 1.5rem;
				line-height: 1.3;
				font-family: var(--pointFont);
				font-size: 4rem;
				font-weight: 400;
				letter-spacing: -0.04em;
				text-transform: uppercase;
				word-break: keep-all;
				word-wrap: break-word;
			}

			p {
				margin-bottom: 3rem;
				line-height: 2.8;
				font-family: var(--titleFont);
				font-size: 1rem;
				font-weight: 400;
				letter-spacing: -0.04em;
				text-transform: uppercase;
				word-break: keep-all;
				word-wrap: break-word;
			}

			.btn-area {
				width: 10rem;
			}
		}

		.con-area {
			width: 72%;
			padding-left: 60px;
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-start;
			position: relative;
			gap: var(--gap);

			.line-vertical {
				position: absolute;
				top: 0;
				left: 0;
			}

			.frame {
				width: 100%;
				display: flex;
				flex-wrap: wrap;
				gap: var(--gap);
				justify-content: flex-start;

				article {
					width: calc((100% - var(--gap) * (var(--num) - 1)) / var(--num));
					display: grid;
					align-content: space-between;
					overflow: hidden;

					.picture {
						margin-bottom: 10px;

						.pic {
							width: 100%;
							height: 200px;
							position: relative;
							padding-bottom: 56.26%;
							margin-bottom: 10px;
							border-radius: 1rem;
							overflow: hidden;
							border: 1px solid rgba(var(--pointColor-code), 0.2);

							img {
								width: 100%;
								height: 100%;
								position: absolute;
								top: 0;
								left: 0;
								object-fit: cover;
								transform: scale3d(1.2, 1.2, 1);
							}
						}

						h4 {
							font-size: 1.6rem;
							font-family: var(--pointFont);
							font-weight: 400;
							color: rgba(var(--baseColor-code), 1);
						}
					}

					.profile {
						display: flex;
						align-items: center;
						column-gap: 0.5rem;
						margin-bottom: 1.5rem;

						img {
							width: 30px;
							border-radius: 50%;
							overflow: hidden;
						}
						span {
							font-family: var(--titleFont);
						}
					}
				}
			}
		}
	}
}

//tablet
.tablet,
.mobile,
.limit {
	.Gallery {
		--num: 2;
	}
}

//mobile
.mobile,
.limit {
	.Gallery {
		--num: 1;
	}
}

//limit
.limit {
	.Gallery {
		--num: 1;
	}
}
