.header {
	.header-layout {
		padding-top: 2rem;
		padding-bottom: 2rem;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;

		h1 {
			font-family: var(--baseFont);
			font-size: 2rem;
			font-weight: 400;
			text-transform: uppercase;
		}

		.logo {
			a {
				width: 3.3rem;
				height: 3.3rem;
				display: flex;
				align-items: flex-end;
				gap: 1rem;
				font-size: 0;

				span {
					margin-bottom: 5px;
					letter-spacing: -0.05em;
					font-family: var(--pointFont);
					font-size: 1.8rem;
					font-weight: 600;
				}
			}
		}

		.gnb-menu {
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-end;
			align-items: center;
			gap: 2rem;

			.gnb-layout {
				ul {
					display: flex;
					gap: 1.5rem;

					li {
						font-family: var(--titleFont);
						color: rgba(var(--baseColor-code), 0.8);
						text-transform: uppercase;
						letter-spacing: 1px;

						.on {
							border-bottom: 1px solid rgba(var(--baseColor-code), 0.8);
						}
						& :hover {
							border-bottom: 1px solid rgba(var(--baseColor-code), 0.8);
						}
					}
				}
			}

			.side-layout {
				display: flex;
				align-items: center;
				grid-column-gap: 15px;
				transition: display 1s;

				.gnb-util {
					.thema {
						width: 60px;
						height: 26px;
						position: relative;
						top: 2px;
						border: 1px solid rgba(var(--baseColor-code), 1);
						border-radius: 18px;
						transform: scale(0.7);
						cursor: pointer;

						.ball {
							width: 20px;
							height: 20px;
							position: absolute;
							top: 2px;
							left: 2px;
							background-color: rgba(var(--baseColor-code), 1);
							border-radius: 10px;
							font-size: 0;
							transition: 0.7s;
						}
					}

					.thema.dark {
						.ball {
							left: 35px;
						}
					}
				}

				.line-vertical {
					height: 32px;
				}

				.gnb-social {
					transition: background-color 0.2s, border 0.2s;

					ul {
						display: flex;
						flex-wrap: wrap;
						gap: 10px;

						li {
							gap: 1;
							display: flex;
							border: 1px solid rgba(var(--baseColor-code), 1);
							border-radius: 50%;
							overflow: hidden;

							a {
								width: 32px;
								height: 32px;
								line-height: 32px;
								font-size: 13px;
								text-transform: uppercase;
								text-align: center;
								transition: background-color 0.2s, border 0.2s;
								color: rgba(var(--baseColor-code), 1);
							}
							&:hover {
								background-color: rgba(var(--baseColor-code), 1);

								a {
									&:hover {
										color: rgba(var(--pointColor-code), 1);
									}
								}
							}
						}
					}
				}
			}

			.gnb-toggle {
				display: none;
			}
		}
	}
}

//tablet
.tablet,
.mobile,
.limit {
	.header {
		.header-layout {
			.gnb-menu {
				gap: 1.5rem;

				.gnb-layout {
					display: none;
				}

				.gnb-toggle {
					margin-top: 3px;
					display: block;

					button {
						width: 20px;
						height: 20px;

						font-size: 0;
						display: flex;
						flex-wrap: wrap;
						row-gap: 3px;

						span {
							width: 100%;
							height: 2px;
							display: block;
							border-radius: 10px;
							background-color: rgba(var(--baseColor-code), 0.8);
						}
					}
				}

				.line-vertical {
					display: none;
				}
			}
		}
	}
}

//mobile
.mobile,
.limit {
	.header {
		.header-layout {
			padding-top: 1.5rem;
			padding-bottom: 1.5rem;

			.gnb-menu {
				.side-layout {
					.gnb-util {
						display: none;
					}
					.line-verticle {
						display: none;
					}
				}
			}
		}
	}
}

//limit
.limit {
	.header {
		.header-layout {
			padding-top: 1.2rem;
			padding-bottom: 1.2rem;

			.gnb-menu {
				.side-layout {
					.gnb-social {
						display: none;
					}
				}
			}
		}
	}
}
