.Menu {
	width: auto;
	height: fit-content;
	margin: 0 2.5rem;
	margin-top: -1px;
	background: rgba(var(--bgColor-code), 1);
	border: 1px solid rgba(var(--baseColor-code), 1);
	position: absolute;
	top: 7rem;
	left: 0;
	right: 0;
	z-index: 5;

	.content-padding {
		transition: 1s;

		.util-layout {
			padding: 1rem 0;
			display: none;
			justify-content: space-between;
			align-items: center;
			transition: 1s;

			.gnb-util {
				margin-left: -10px;

				.thema {
					width: 60px;
					height: 26px;
					position: relative;
					top: 0;
					left: 0;
					border: 1px solid rgba(var(--baseColor-code), 1);
					border-radius: 18px;
					transform: scale(0.7);
					cursor: pointer;

					.ball {
						width: 20px;
						height: 20px;
						position: absolute;
						top: 2px;
						left: 2px;
						background-color: rgba(var(--baseColor-code), 1);
						border-radius: 10px;
						font-size: 0;
						transition: 0.7s;
					}
				}

				.thema.dark {
					.ball {
						left: 35px;
					}
				}
			}

			.gnb-social {
				transition: background-color 0.2s, border 0.2s;

				ul {
					display: flex;
					flex-wrap: wrap;
					gap: 10px;

					li {
						gap: 1;
						display: flex;
						border: 1px solid rgba(var(--baseColor-code), 1);
						border-radius: 50%;
						overflow: hidden;
						transition: background-color 0.2s, border 0.2s;

						a {
							width: 32px;
							height: 32px;
							line-height: 32px;
							font-size: 13px;
							text-transform: uppercase;
							text-align: center;
						}

						&:hover {
							background-color: rgba(var(--baseColor-code), 1);

							a {
								&:hover {
									color: rgba(var(--bgColor-code), 1);
								}
							}
						}
					}
				}
			}
		}
	}
}

//tablet
.tablet,
.mobile,
.limit {
	.Menu {
		margin-top: 4px;

		.content-padding {
			padding-left: 3rem;
			padding-right: 3rem;
		}
	}
}

//mobile
.mobile,
.limit {
	.Menu {
		margin: 0 1.5rem;
		margin-top: 4px;
		top: 6rem;

		.content-padding {
			padding-left: 2rem;
			padding-right: 2rem;

			.util-layout {
				display: flex;

				.gnb-util {
					display: flex;
				}

				.gnb-social {
					display: flex;
				}
			}
		}
	}
}

//limit
.limit {
	.Menu {
		margin-top: 11px;
		top: 5rem;

		.content-padding {
			padding-left: 1.5rem;
			padding-right: 1.5rem;

			.util-layout {
				display: flex;
			}
		}
	}
}
