.Mobile {
	.gnb-layout {
		height: 100%;
		transition: 1s;

		ul {
			height: 100%;
			display: flex;
			flex-wrap: wrap;

			li {
				width: 100%;
				padding: 1rem 0;
				display: block;
				font-family: var(--titleFont);
				color: rgba(var(--baseColor-code), 0.8);
				border-bottom: 1px solid rgba(var(--baseColor-code), 0.8);
				text-transform: uppercase;
				letter-spacing: 1px;

				.on {
					color: rgba(var(--pointColor-code), 1);
				}
				& :hover {
					color: rgba(var(--pointColor-code), 1);
				}
				&:first-child {
					padding-top: 0;
				}
			}
		}
	}
}
