.Community {
  .visualBox {
    margin-bottom: 5rem;

    .txt-area {
      margin-bottom: 5rem;
      h3 {
        width: 70%;
        font-family: var(--pointFont);
        font-weight: 400;
        margin-bottom: 1rem;
      }

      p {
        font-size: 1.75rem;
        font-weight: 400;
        line-height: 1.5;
      }
    }

    .img-area {
      height: auto;
      position: relative;
      padding-bottom: 56.26%;
      margin-bottom: 15px;
      border-radius: 1rem;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        transform: scale3d(1.01, 1.015, 1);
      }
    }
  }

  .contentBox {
    margin: 5rem 0;

    .inputBox {
      margin-bottom: 5rem;
      font-family: var(--baseFont);
      display: flex;
      justify-content: space-between;

      .txt-area {
        width: 50%;
        position: sticky;
        top: 3rem;

        h4 {
          margin-bottom: 17rem;
          line-height: 1.3;
          font-family: var(--pointFont);
          font-size: 6.5rem;
          font-weight: 400;
        }

        .sns-area {
          h5 {
            margin-bottom: 0.5rem;
            font-size: 1rem;
            font-weight: 400;
          }

          ul {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;

            li {
              gap: 1;
              display: flex;
              border: 1px solid rgba(var(--baseColor-code), 1);
              border-radius: 50%;
              overflow: hidden;

              button {
                width: 32px;
                height: 32px;
                line-height: 32px;
                font-size: 13px;
                text-transform: uppercase;
                text-align: center;
                transition: background-color 0.2s, border 0.2s;
                color: rgba(var(--baseColor-code), 1);
              }
              &:hover {
                background-color: rgba(var(--baseColor-code), 1);

                button {
                  &:hover {
                    color: rgba(var(--pointColor-code), 1);
                  }
                }
              }
            }
          }
        }
      }

      .form-area {
        width: 45%;
        display: flex;
        flex-direction: column;

        label {
          display: none;
        }

        input[type="text"],
        input[type="email"],
        textarea {
          margin-bottom: 2rem;
          padding: 1rem;
          line-height: 1.5;
          background-color: transparent;
          border-bottom: 1px solid rgba(var(--baseColor-code), 1);
          font-family: var(--titleFont);
          font-size: 1.1rem;
          font-weight: 400;
          color: rgba(var(--baseColor-code), 1);
          transition: border 0.2s;
        }

        textarea {
          min-height: 10rem;
        }

        input[type="text"]::placeholder,
        input[type="email"]::placeholder,
        textarea::placeholder {
          color: rgba(var(--baseColor-code), 1);
        }

        input[type="text"]:focus,
        input[type="email"]:focus,
        textarea:focus {
          background-color: rgba(var(--baseColor-code), 0.05);
        }
      }

      .btn-area {
        width: 100%;
        height: auto;
        display: flex;
        gap: 1rem;
        justify-content: flex-end;

        .btn {
          color: rgba(var(--pointColor-code), 1);
          display: flex;
          flex-wrap: wrap;
          background-color: rgba(var(--baseColor-code), 1);
          font-family: var(--titleFont);
          font-size: 1rem;
          font-weight: 400;
          letter-spacing: 1px;
          padding: 0.5rem 1rem;
          text-align: center;
          text-transform: uppercase;
          border: 1px solid rgba(var(--pointColor-code), 1);
          border-radius: 6px;

          &:hover {
            background-color: rgba(var(--pointColor-code), 1) !important;
            border: 1px solid rgba(var(--baseColor-code), 1);
            color: rgba(var(--baseColor-code), 1);
          }
        }
      }
    }

    .showBox {
      margin-top: 5rem;

      article {
        margin: 5rem 0 3rem;

        .txt-area {
          margin-bottom: 2rem;

          h6 {
            line-height: 1.2;
            margin-bottom: 0.5rem;
            font-family: var(--pointFont);
            font-weight: 500;
            font-size: 1.9rem;
          }

          strong {
            display: inline-block;
            margin-bottom: 1rem;
            font-family: var(--pointFont);
            font-weight: 400;
            font-size: 1.5rem;
          }
          p {
            line-height: 1.6;
            margin-bottom: 2rem;
            font-size: 1.1rem;
          }
          span {
            font-family: var(--titleFont);
          }
        }

        .btn-area {
          width: 100%;
          height: auto;
          margin-bottom: 4rem;
          display: flex;
          gap: 1rem;
          justify-content: flex-end;

          .btn {
            color: rgba(var(--pointColor-code), 1);
            display: flex;
            flex-wrap: wrap;
            background-color: rgba(var(--baseColor-code), 1);
            font-family: var(--titleFont);
            font-size: 1rem;
            font-weight: 400;
            letter-spacing: 1px;
            padding: 0.5rem 1rem;
            text-align: center;
            text-transform: uppercase;
            border: 1px solid rgba(var(--pointColor-code), 1);
            border-radius: 6px;

            &:hover {
              background-color: rgba(var(--pointColor-code), 1) !important;
              border: 1px solid rgba(var(--baseColor-code), 1);
              color: rgba(var(--baseColor-code), 1);
            }
          }
        }
      }

      :last-child {
        .line-holizontal {
          display: none;
        }
      }
    }
  }
}

//tablet
.tablet,
.mobile,
.limit {
}

//mobile
.mobile,
.limit {
}

//limit
.limit {
}
