.Contact {
	.tab {
		width: 100%;
		height: 50vh;
		background-color: var(--baseColor);
		position: relative;

		.mapBox,
		.viewBox {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			opacity: 0;
			z-index: 1;

			filter: saturate(0);
			transition: filter 1s;

			&:hover {
				filter: saturate(1);
			}

			&.on {
				opacity: 1;
				z-index: 2;
			}
		}
	}
}

.dark {
	.Contact {
		.tab {
			.mapBox {
				filter: saturate(0) invert(1) contrast(0.6) brightness(0.7);
			}

			.viewBox {
				filter: saturate(0) invert(0) contrast(1) brightness(1);
			}

			.mapBox,
			.viewBox {
				&:hover {
					filter: saturate(1) invert(0) contrast(1) brightness(1);
				}
			}
		}
	}
}
