.ThemeControl {
	width: 18px;
	height: 18px;
	border-radius: 50%;
	border: 0;
	position: relative;
	overflow: hidden;

	input[type='color'] {
		width: 40px;
		height: 40px;
		position: absolute;
		top: -10px;
		left: -10px;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		background: transparent;
		border: none;
		cursor: pointer;
	}
	input[type='color']::-webkit-color-swatch {
		border-radius: 50%;
		border: none;
	}
}

//tablet
.tablet,
.mobile,
.limit {
}

//mobile
.mobile,
.limit {
}

//limit
.limit {
}

// https://youtu.be/9Ds6dzhda0c
// 출처: https://yebeen-study-note.tistory.com/30 [ღ:티스토리]
// https://developer.mozilla.org/en-US/docs/Web/CSS/::-moz-color-swatch
