.ThemeControl {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 0;
	position: relative;
	overflow: hidden;
	top: 2px;

	input[type='color'] {
		width: 40px;
		height: 40px;
		position: absolute;
		top: -10px;
		left: -10px;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		background: transparent;
		border: none;
	}
	input[type='color']::-webkit-color-swatch {
		border-radius: 50%;
		border: none;
	}
}
