.footer {
	.footer-layout {
		padding-top: 4rem;
		padding-bottom: 4rem;
		// display: flex;
		// flex-wrap: wrap;
		// justify-content: space-between;
		// align-items: center;
	}
	.footer-area {
		padding-bottom: 4rem;
		display: flex;
		justify-content: space-between;

		.logo-area {
			width: 30%;
			padding: 10px 0;
			display: flex;
			flex-wrap: wrap;
			flex-direction: column;
			border-right: 1px solid rgba(var(--baseColor-code), 1);

			h1 {
				margin-bottom: 2rem;
				font-family: var(--baseFont);
				font-weight: 400;
				text-transform: uppercase;
			}

			p {
				margin-bottom: 4.5rem;
				font-size: 1.1rem /*18px*/;
				line-height: 2;
			}

			.gnb-social {
				transition: background-color 0.2s, border 0.2s;

				ul {
					display: flex;
					flex-wrap: wrap;
					gap: 10px;

					li {
						gap: 1;
						display: flex;
						border: 1px solid rgba(var(--baseColor-code), 1);
						border-radius: 50%;
						overflow: hidden;
						text-transform: uppercase;

						.on {
							border-bottom: 1px solid rgba(var(--baseColor-code), 0.8);
						}
						&:hover {
							color: var(--bgColor);
							background-color: rgba(var(--baseColor-code), 1);
						}
						a {
							width: 32px;
							height: 32px;
							line-height: 32px;
							font-size: 13px;
							text-align: center;
							transition: background-color 0.2s, border 0.2s;
						}
					}
				}
			}
		}

		.menu-area {
			width: 70%;
			padding: 10px 0;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: space-around;

			.footer-menu {
				min-width: 20%;

				h3 {
					margin-bottom: 2rem;
					font-family: var(--pointFont);
					font-size: 1.5rem;
					font-weight: 400;
				}

				ul {
					// grid-column-gap: 0.85rem;
					grid-row-gap: 1.2rem;
					flex-direction: column;
					align-items: flex-start;
					display: flex;

					li {
						width: 100%;
						font-family: var(--titleFont);
						font-weight: 400;
						text-decoration: none;
						text-transform: uppercase;

						& :hover {
							border-bottom: 1px solid rgba(var(--baseColor-code), 0.8);
						}

						.btn {
							min-width: 170px;
							margin-top: 10px;
							margin-bottom: 10px;
							padding: 0.5rem 1rem;
							// position: relative;
							color: rgba(var(--pointColor-code), 1);
							text-align: center;
							background-color: rgba(var(--baseColor-code), 1);
							font-weight: 500;
							text-transform: uppercase;
							letter-spacing: 1px;
							border: 0;
							border-radius: 6px;
							overflow: hidden;
						}

						.btn-area {
							margin-top: 10px;
						}
					}
				}
			}
		}
	}

	.footer-util {
		display: flex;
		padding-top: 3rem;
		align-items: center;
		justify-content: space-between;

		div {
			display: flex;
			font-family: var(--titleFont);
			grid-column-gap: 1rem;
			grid-row-gap: 1rem;
			flex-wrap: wrap;
			align-items: flex-start;

			&:nth-child(even) {
				font-size: inherit;
				p {
					a {
						margin-left: 40px;
						line-height: 1;
						& :hover {
							border-bottom: 1px solid rgba(var(--baseColor-code), 0.8);
						}
					}
				}
			}
			p {
				a {
					margin-left: 10px;
				}
				& :hover {
					border-bottom: 1px solid rgba(var(--baseColor-code), 0.8);
				}
			}
		}
	}
}
